## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_clean = application_df.drop(['EIN', 'NAME'], axis=1)
application_df_clean.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df_clean.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_unique = application_df_clean['APPLICATION_TYPE'].value_counts()
application_unique

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_unique.iloc[8:].index)
cutoff = 528


# Replace the selected application types with "Other" in the DataFrame
for app in application_types_to_replace:
    application_df_clean['APPLICATION_TYPE'] = application_df_clean['APPLICATION_TYPE'].replace(app,"Other")


# Check to make sure the replacement was successful
print(application_df_clean['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_unique = application_df_clean['CLASSIFICATION'].value_counts()
classification_unique

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_df = classification_unique.loc[classification_unique > 1]
classification_df

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_types_to_replace = list(classification_df.iloc[8:].index)
cutoff_2 = 1883

# Get the counts of each classification type
classification_type_counts = application_df_clean['CLASSIFICATION'].value_counts()

# Get the classification types that have a count less than the cutoff value
classifications_to_replace = classification_type_counts[classification_type_counts < cutoff_2].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df_clean['CLASSIFICATION'] = application_df_clean['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df_clean['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_values = pd.get_dummies(application_df_clean)
dummy_values.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
X = dummy_values.drop(columns='IS_SUCCESSFUL').values
y = dummy_values['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=440, activation='relu', input_dim=len(X_train[0])))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))


# Check the structure of the model
nn.summary()

C:\Users\cgblo\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 440)            │        19,360 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 1)              │           441 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 19,801 (77.35 KB)

 Trainable params: 19,801 (77.35 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=132)

Epoch 1/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 664us/step - accuracy: 0.7178 - loss: 0.5800
Epoch 2/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 575us/step - accuracy: 0.7288 - loss: 0.5580
Epoch 3/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - accuracy: 0.7289 - loss: 0.5600
Epoch 4/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 527us/step - accuracy: 0.7266 - loss: 0.5607
Epoch 5/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 562us/step - accuracy: 0.7272 - loss: 0.5566
Epoch 6/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 572us/step - accuracy: 0.7256 - loss: 0.5604
Epoch 7/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - accuracy: 0.7295 - loss: 0.5511
Epoch 8/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 645us/step - accuracy: 0.7233 - loss: 0.5574
Epoch 9/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - accuracy: 0.7271 - loss: 0.5536
Epoch 10/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 584us/step - accuracy: 0.7298 - loss: 0.5542
Epoch 11/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 563us/step - accuracy: 0.7293 - loss: 0.5540
Epoch 12/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step - accuracy: 0.7312 - loss: 0.5502
Epoch 13/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 568us/step - accuracy: 0.7351 - loss: 0.5450
Epoch 14/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7406 - loss: 0.5401
Epoch 15/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 588us/step - accuracy: 0.7305 - loss: 0.5502
Epoch 16/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 576us/step - accuracy: 0.7307 - loss: 0.5500
Epoch 17/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 632us/step - accuracy: 0.7322 - loss: 0.5465
Epoch 18/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 599us/step - accuracy: 0.7319 - loss: 0.5446
Epoch 19/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 547us/step - accuracy: 0.7401 - loss: 0.5426
Epoch 20/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7340 - loss: 0.5436
Epoch 21/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - accuracy: 0.7371 - loss: 0.5403
Epoch 22/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 602us/step - accuracy: 0.7353 - loss: 0.5436
Epoch 23/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - accuracy: 0.7291 - loss: 0.5486
Epoch 24/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - accuracy: 0.7366 - loss: 0.5416
Epoch 25/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 624us/step - accuracy: 0.7335 - loss: 0.5452
Epoch 26/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 544us/step - accuracy: 0.7338 - loss: 0.5456
Epoch 27/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 610us/step - accuracy: 0.7325 - loss: 0.5454
Epoch 28/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 520us/step - accuracy: 0.7348 - loss: 0.5431
Epoch 29/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 627us/step - accuracy: 0.7401 - loss: 0.5386
Epoch 30/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - accuracy: 0.7318 - loss: 0.5453
Epoch 31/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - accuracy: 0.7345 - loss: 0.5424
Epoch 32/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 557us/step - accuracy: 0.7357 - loss: 0.5449
Epoch 33/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 638us/step - accuracy: 0.7323 - loss: 0.5452
Epoch 34/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 620us/step - accuracy: 0.7366 - loss: 0.5409
Epoch 35/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 556us/step - accuracy: 0.7362 - loss: 0.5446
Epoch 36/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 733us/step - accuracy: 0.7321 - loss: 0.5433
Epoch 37/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 605us/step - accuracy: 0.7352 - loss: 0.5387
Epoch 38/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - accuracy: 0.7374 - loss: 0.5412
Epoch 39/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 646us/step - accuracy: 0.7318 - loss: 0.5444
Epoch 40/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 652us/step - accuracy: 0.7339 - loss: 0.5440
Epoch 41/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 622us/step - accuracy: 0.7335 - loss: 0.5439
Epoch 42/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 645us/step - accuracy: 0.7370 - loss: 0.5395
Epoch 43/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - accuracy: 0.7347 - loss: 0.5429
Epoch 44/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 681us/step - accuracy: 0.7370 - loss: 0.5436
Epoch 45/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 600us/step - accuracy: 0.7361 - loss: 0.5424
Epoch 46/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 638us/step - accuracy: 0.7352 - loss: 0.5428
Epoch 47/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step - accuracy: 0.7383 - loss: 0.5372
Epoch 48/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 598us/step - accuracy: 0.7349 - loss: 0.5438
Epoch 49/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 600us/step - accuracy: 0.7384 - loss: 0.5400
Epoch 50/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 641us/step - accuracy: 0.7337 - loss: 0.5437
Epoch 51/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 662us/step - accuracy: 0.7359 - loss: 0.5430
Epoch 52/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 619us/step - accuracy: 0.7378 - loss: 0.5430
Epoch 53/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 680us/step - accuracy: 0.7355 - loss: 0.5447
Epoch 54/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 647us/step - accuracy: 0.7363 - loss: 0.5404
Epoch 55/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 641us/step - accuracy: 0.7400 - loss: 0.5411
Epoch 56/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 726us/step - accuracy: 0.7342 - loss: 0.5452
Epoch 57/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 717us/step - accuracy: 0.7374 - loss: 0.5418
Epoch 58/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 673us/step - accuracy: 0.7314 - loss: 0.5411
Epoch 59/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 659us/step - accuracy: 0.7344 - loss: 0.5394
Epoch 60/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 677us/step - accuracy: 0.7368 - loss: 0.5401
Epoch 61/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 643us/step - accuracy: 0.7351 - loss: 0.5438
Epoch 62/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 629us/step - accuracy: 0.7371 - loss: 0.5422
Epoch 63/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 676us/step - accuracy: 0.7313 - loss: 0.5457
Epoch 64/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 663us/step - accuracy: 0.7319 - loss: 0.5443
Epoch 65/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 681us/step - accuracy: 0.7338 - loss: 0.5456
Epoch 66/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 667us/step - accuracy: 0.7334 - loss: 0.5431
Epoch 67/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 599us/step - accuracy: 0.7350 - loss: 0.5420
Epoch 68/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 643us/step - accuracy: 0.7343 - loss: 0.5459
Epoch 69/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 709us/step - accuracy: 0.7356 - loss: 0.5409
Epoch 70/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 679us/step - accuracy: 0.7335 - loss: 0.5435
Epoch 71/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 575us/step - accuracy: 0.7360 - loss: 0.5426
Epoch 72/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 565us/step - accuracy: 0.7362 - loss: 0.5405
Epoch 73/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 599us/step - accuracy: 0.7350 - loss: 0.5412
Epoch 74/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 685us/step - accuracy: 0.7399 - loss: 0.5386
Epoch 75/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 599us/step - accuracy: 0.7388 - loss: 0.5388
Epoch 76/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.7347 - loss: 0.5394
Epoch 77/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 658us/step - accuracy: 0.7368 - loss: 0.5397
Epoch 78/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 655us/step - accuracy: 0.7333 - loss: 0.5427
Epoch 79/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 647us/step - accuracy: 0.7344 - loss: 0.5414
Epoch 80/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 626us/step - accuracy: 0.7392 - loss: 0.5352
Epoch 81/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 716us/step - accuracy: 0.7303 - loss: 0.5450
Epoch 82/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 662us/step - accuracy: 0.7370 - loss: 0.5387
Epoch 83/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 634us/step - accuracy: 0.7363 - loss: 0.5366
Epoch 84/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 648us/step - accuracy: 0.7380 - loss: 0.5383
Epoch 85/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 709us/step - accuracy: 0.7354 - loss: 0.5427
Epoch 86/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 619us/step - accuracy: 0.7388 - loss: 0.5372
Epoch 87/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 634us/step - accuracy: 0.7350 - loss: 0.5435
Epoch 88/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 647us/step - accuracy: 0.7401 - loss: 0.5390
Epoch 89/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 539us/step - accuracy: 0.7387 - loss: 0.5388
Epoch 90/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 606us/step - accuracy: 0.7325 - loss: 0.5408
Epoch 91/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - accuracy: 0.7370 - loss: 0.5403
Epoch 92/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 656us/step - accuracy: 0.7352 - loss: 0.5416
Epoch 93/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 697us/step - accuracy: 0.7391 - loss: 0.5363
Epoch 94/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 643us/step - accuracy: 0.7355 - loss: 0.5457
Epoch 95/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 752us/step - accuracy: 0.7320 - loss: 0.5460
Epoch 96/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 638us/step - accuracy: 0.7378 - loss: 0.5367
Epoch 97/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 706us/step - accuracy: 0.7343 - loss: 0.5455
Epoch 98/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 766us/step - accuracy: 0.7382 - loss: 0.5361
Epoch 99/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 781us/step - accuracy: 0.7355 - loss: 0.5415
Epoch 100/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 661us/step - accuracy: 0.7359 - loss: 0.5402
Epoch 101/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 607us/step - accuracy: 0.7353 - loss: 0.5416
Epoch 102/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 637us/step - accuracy: 0.7380 - loss: 0.5393
Epoch 103/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 544us/step - accuracy: 0.7389 - loss: 0.5360
Epoch 104/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 588us/step - accuracy: 0.7397 - loss: 0.5363
Epoch 105/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.7340 - loss: 0.5428
Epoch 106/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 638us/step - accuracy: 0.7353 - loss: 0.5423
Epoch 107/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 603us/step - accuracy: 0.7441 - loss: 0.5366
Epoch 108/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 572us/step - accuracy: 0.7343 - loss: 0.5413
Epoch 109/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 660us/step - accuracy: 0.7395 - loss: 0.5377
Epoch 110/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 613us/step - accuracy: 0.7377 - loss: 0.5384
Epoch 111/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.7335 - loss: 0.5426
Epoch 112/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 667us/step - accuracy: 0.7366 - loss: 0.5408
Epoch 113/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 676us/step - accuracy: 0.7324 - loss: 0.5450
Epoch 114/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 673us/step - accuracy: 0.7339 - loss: 0.5433
Epoch 115/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 614us/step - accuracy: 0.7393 - loss: 0.5390
Epoch 116/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 622us/step - accuracy: 0.7367 - loss: 0.5391
Epoch 117/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 803us/step - accuracy: 0.7355 - loss: 0.5405
Epoch 118/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 737us/step - accuracy: 0.7339 - loss: 0.5413
Epoch 119/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 650us/step - accuracy: 0.7369 - loss: 0.5393
Epoch 120/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 640us/step - accuracy: 0.7401 - loss: 0.5364
Epoch 121/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - accuracy: 0.7394 - loss: 0.5368
Epoch 122/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 751us/step - accuracy: 0.7380 - loss: 0.5381
Epoch 123/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 625us/step - accuracy: 0.7405 - loss: 0.5350
Epoch 124/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 668us/step - accuracy: 0.7339 - loss: 0.5381
Epoch 125/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 605us/step - accuracy: 0.7387 - loss: 0.5349
Epoch 126/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 634us/step - accuracy: 0.7379 - loss: 0.5376
Epoch 127/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 629us/step - accuracy: 0.7399 - loss: 0.5364
Epoch 128/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 633us/step - accuracy: 0.7389 - loss: 0.5402
Epoch 129/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 657us/step - accuracy: 0.7342 - loss: 0.5388
Epoch 130/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - accuracy: 0.7379 - loss: 0.5394
Epoch 131/132
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 623us/step - accuracy: 0.7371 - loss: 0.5390
Epoch 132/132

804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 599us/step - accuracy: 0.7421 - loss: 0.5359

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")
#Attempted four seperate times by adding more neurons and layers. Final result is 73% Accuracy

268/268 - 0s - 763us/step - accuracy: 0.7321 - loss: 0.5550
Loss: 0.5549625158309937, Accuracy: 0.7321282625198364

In [18]:
# Export our model to HDF5 file
filepath = "C:/Users/cgblo/OneDrive/Documents/GitHub/deep-learning-challenge/AlphabetSoupCharity.h5"
nn.save(filepath)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.